# AAI614: Data Science & its Applications

*Notebook 2.6: Practice with Data Collections*

<a href="https://colab.research.google.com/github/harmanani/AAI614/blob/main/Week%202/Notebook2.6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Import the taxi info from both January and July 2019.
# Include the following columns: tpep_pickup_datetime, passenger_count, trip_distance,
# fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge,
# total_amount, and congestion_surcharge.

filenames = ['https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01aa.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01aq.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bg.csv',
             'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07aa.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ab.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ar.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ab.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07aq.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ac.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01as.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ab.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ar.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ad.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01at.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ac.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07as.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ae.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01au.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ad.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07at.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01af.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01av.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ae.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07au.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ag.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01aw.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07af.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07av.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ah.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ax.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ag.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07aw.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ai.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ay.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ah.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ax.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01aj.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01az.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ai.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ay.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ak.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ba.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07aj.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07az.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01al.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bb.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ak.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ba.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01am.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bc.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07al.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07bb.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01an.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bd.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07am.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ao.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01be.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07an.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ap.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bf.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ao.csv']

headers = ['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'congestion_surcharge']
cols = ['tpep_pickup_datetime', 'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'congestion_surcharge']

all_dfs = [pd.read_csv(one_filename,
                       names = headers,
                       header = 1,
                       low_memory=False,
                       usecols = cols,
                       parse_dates = ['tpep_pickup_datetime'])
                       for one_filename in filenames]

df = pd.concat(all_dfs)

df.head()

,tpep_pickup_datetime,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2019-01-01 00:59:47,1.0,2.6,14.0,0.5,0.5,1.0,0.00,0.3,16.30,NaN
1,2018-12-21 13:48:30,3.0,0.0,4.5,0.5,0.5,0.0,0.00,0.3,5.80,NaN
2,2018-11-28 15:52:25,5.0,0.0,3.5,0.5,0.5,0.0,0.00,0.3,7.55,NaN
3,2018-11-28 15:56:57,5.0,0.0,52.0,0.0,0.5,0.0,0.00,0.3,55.55,NaN
4,2018-11-28 16:25:49,5.0,0.0,3.5,0.5,0.5,0.0,5.76,0.3,13.31,NaN

In [3]:
# Create a new column, pre_tip_amount
df['pre_tip_amount'] = (
    df
    [['fare_amount', 'extra', 'mta_tax', 'tolls_amount',
      'improvement_surcharge', 'congestion_surcharge']]
    .sum(axis='columns')
)

In [4]:
# Create a new column, tip_percentage, showing the percent of the fare_amount that people tipped
df['tip_percentage'] = df['tip_amount'] / df['pre_tip_amount']

In [5]:
# What was the overall tip percentage?
df['tip_percentage'].mean()

np.float64(0.1299311764375275)

In [6]:
# How many times did people tip more than 100%?
(df['tip_percentage'] > 1).value_counts()

tip_percentage
False    13971177
True         7806
Name: count, dtype: int64

In [7]:
# What percent of taxi riders give no tip at all?
(df['tip_percentage'] == 0).value_counts(normalize=True)

tip_percentage
False    0.678608
True     0.321392
Name: proportion, dtype: float64

In [8]:
# On which day of the week do people tip the greatest percentage?
# Mon = 0, Tues = 1, Wed = 2, Thu = 3, Fri = 4, Sat = 5, Sun = 6
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'], errors = 'coerce')
df.groupby(df['tpep_pickup_datetime'].dt.day_of_week)['tip_percentage'].mean().sort_values(ascending=False)

tpep_pickup_datetime
3.0    0.134325
2.0    0.131881
1.0    0.130681
4.0    0.129410
0.0    0.128723
6.0    0.126634
5.0    0.125801
Name: tip_percentage, dtype: float64

In [9]:
# At which hour do people tip the greatest percentage?
df.groupby(df['tpep_pickup_datetime'].dt.hour)['tip_percentage'].mean().sort_values(ascending=False)

tpep_pickup_datetime
22.0    0.138875
20.0    0.138077
21.0    0.137589
8.0     0.137015
19.0    0.135120
23.0    0.134812
18.0    0.133217
9.0     0.132800
7.0     0.131954
0.0     0.131289
1.0     0.130993
2.0     0.130831
17.0    0.128518
10.0    0.127014
11.0    0.124796
16.0    0.124588
13.0    0.124417
12.0    0.124323
14.0    0.123623
15.0    0.123450
3.0     0.121132
6.0     0.119908
4.0     0.118884
5.0     0.112030
Name: tip_percentage, dtype: float64

In [10]:
# Do people tip more, on average, in January or July?
df.groupby(df['tpep_pickup_datetime'].dt.month)['tip_percentage'].mean().sort_values(ascending=False)

tpep_pickup_datetime
5.0     0.200000
8.0     0.158099
3.0     0.148046
9.0     0.141431
1.0     0.137011
2.0     0.132224
7.0     0.121331
12.0    0.109367
6.0     0.108901
10.0    0.100000
4.0     0.074877
11.0    0.046026
Name: tip_percentage, dtype: float64

In [11]:
# What was the 1-day period in our data set when people tipped the greatest percentage?
df = df.set_index('tpep_pickup_datetime')
df.resample('1D')['tip_percentage'].mean().sort_values(ascending=False).head(10)

tpep_pickup_datetime
2019-02-13    0.358127
2019-02-25    0.250000
2019-08-20    0.241865
2019-05-20    0.200000
2019-08-15    0.200000
2019-09-22    0.200000
2019-11-27    0.200000
2019-08-10    0.200000
2019-09-24    0.200000
2010-08-08    0.200000
Name: tip_percentage, dtype: float64

In [12]:
# Try again, within our range
df = df.sort_index()

df1 = df.copy()
df1.index = pd.to_datetime(df1.index, errors="coerce")

# month masks (half-open ranges avoid “31 vs 30” edge cases)
jan = (df1.index >= "2019-01-01") & (df1.index < "2019-02-01")
jul = (df1.index >= "2019-07-01") & (df1.index < "2019-08-01")

df_sel = df1[jan | jul]

out = (df_sel
       .resample("1D")["tip_percentage"].mean()
       .sort_values(ascending=False)
       .head(10))
# df = pd.concat([df.loc['2019-01-01':'2019-01-31'],
#            df.loc['2019-07-01':'2019-07-31']])

# df.resample('1D')['tip_percentage'].mean().sort_values(ascending=False).head(10)

In [13]:
df.resample('1M')['tip_percentage'].mean().dropna()

C:\Users\user\AppData\Local\Temp\ipykernel_18224\497147689.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df.resample('1M')['tip_percentage'].mean().dropna()

tpep_pickup_datetime
2001-02-28    0.000000
2002-02-28    0.000000
2008-12-31    0.023736
2009-01-31    0.028726
2010-08-31    0.200000
2018-11-30    0.000000
2018-12-31    0.117071
2019-01-31    0.137012
2019-02-28    0.150589
2019-03-31    0.148046
2019-04-30    0.074877
2019-05-31    0.200000
2019-06-30    0.108901
2019-07-31    0.121331
2019-08-31    0.156996
2019-09-30    0.141431
2019-10-31    0.100000
2019-11-30    0.130408
2019-12-31    0.200000
2020-01-31    0.175191
2088-01-31    0.000000
Name: tip_percentage, dtype: float64

# Questions

1. We saw that 32 percent of riders don't tip at all. Of those who *do*, what percentage do they tip, on average?

In [15]:
tippers = df[df['tip_percentage']!=0]
mean_tips=tippers['tip_percentage'].mean()
mean_tips

np.float64(0.19148690776686286)

2. How many of the rides in our data set, supposedly from January and July 2019, are from outside of those dates?

In [16]:
df.head()

,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,pre_tip_amount,tip_percentage
tpep_pickup_datetime,,,,,,,,,,,,
2001-02-02 14:55:07,1.0,0.00,2.5,0.5,0.5,0.0,0.0,0.3,3.8,NaN,3.8,0.0
2002-02-02 01:10:11,1.0,2.84,11.0,0.0,0.5,0.0,0.0,0.3,14.3,2.5,14.3,0.0
2002-02-02 01:10:14,1.0,1.10,10.0,0.0,0.5,0.0,0.0,0.3,13.3,2.5,13.3,0.0
2002-02-02 01:11:24,2.0,2.46,15.0,0.5,0.5,0.0,0.0,0.3,18.8,2.5,18.8,0.0
2002-02-02 01:12:58,1.0,1.56,9.5,0.0,0.5,0.0,0.0,0.3,12.8,2.5,12.8,0.0

In [17]:
jan2019 = (df.index >= "2019-01-01") & (df.index < "2019-02-01")
jul2019 = (df.index >= "2019-07-01") & (df.index < "2019-08-01")
inside = jan2019 | jul2019
outside = ~inside
n_outside = df[outside].shape[0]
n_outside

823

3. Looking only at dates in January and July, on what week did passengers tip the greatest percentage?

In [19]:
mask = ((df.index >= "2019-01-01") & (df.index < "2019-02-01")) |   ((df.index >= "2019-07-01") & (df.index < "2019-08-01"))
df_janjul = df.loc[mask]
df_janjul["week"] = df_janjul.index.isocalendar().week
df_janjul["year"] = df_janjul.index.isocalendar().year

weekly_tips = (
    df_janjul.groupby(["year", "week"])["tip_percentage"]
    .mean()
    .sort_values(ascending=False)
)

C:\Users\user\AppData\Local\Temp\ipykernel_18224\2002315294.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_janjul["week"] = df_janjul.index.isocalendar().week
C:\Users\user\AppData\Local\Temp\ipykernel_18224\2002315294.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_janjul["year"] = df_janjul.index.isocalendar().year

In [20]:
best_week = weekly_tips.idxmax()
best_value = weekly_tips.max()

best_week,best_value

((np.uint32(2019), np.uint32(5)), np.float64(0.14197831336280944))